/*---------- BASIC SETUP ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
}

/*---------- RESUABLE COMPONENTS ----------*/
h1 {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  font-size: 300%;
  text-transform: uppercase;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 40px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover,
button:focus {
  color: #ea7752;
}

/*---------- HOW TO MODAL ----------*/
.how-to-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.how-to-btn {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.how-to-btn i,
.close-btn i {
  font-size: 30px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-btn {
  float: right;
}

/*---------- SEARCH SECTION ----------*/
.section-search {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.search-form {
  margin: 0 auto;
}

.path-type,
.input-field,
.search-btn {
  padding: 10px;
  font-size: 18px;
  background: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 15px;
  margin: 10px;
  transition: all 0.2s ease;
}

.path-type {
  width: 100px;
}

.input-field {
  width: 300px;
}

.search-btn {
  width: 40px;
}

.path-type:hover,
input[type="text"]:focus,
.search-btn:hover {
  border: 2px solid #ea7752;
}

/*---------- PATH SECTION ----------*/

.section-path {
  padding: 40px;
  width: 75%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  min-height: 50vh;
}

.ride-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ride {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.ride-name {
  width: 400px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  left: 30px;
  background: linear-gradient(
    90deg,
    #f3b103 0%,
    rgba(234, 234, 234, 0.0364583) 94.78%
  );
}

.ride-name h3 {
  font-size: 20px;
  font-weight: 500;
}

.ride-img {
  width: 125px;
  height: 125px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  margin-left: -30px;
  background-color: #fff;
  z-index: 3;
}

.ride-img img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.arrow {
  margin: -40px 0;
}

.arrow i {
  font-size: 75px;
}

/*---------- FOOTER ----------*/

footer {
  background-color: #151515;
  padding: 20px;
  font-size: 90%;
}

.social-links {
  display: flex;
  width: 20%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.social-links li:last-child {
  margin-right: 0px;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 34px;
  vertical-align: middle;
}

.ion-social-linkedin,
.ion-social-github {
  transition: color 0.2s;
}

.ion-social-linkedin-outline:hover {
  color: #007bb5;
}

.ion-social-github-outline:hover {
  color: #f4cbb2;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}
